//variabili
$bg-color: black;

//mixin
@mixin display-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.7rem;
}

@mixin merch-display-flex {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

@mixin container-size {
  max-width: 1000px;
  margin: auto;
  padding: 0.5rem;
}
